services:
  # --- VPN ALICE ---
  alice:
    build: .
    container_name: alice
    cap_add: [NET_ADMIN, SYS_MODULE]
    networks:
      rede_a:
        ipv4_address: 10.100.1.10
    volumes:
      - ./alice/swanctl.conf:/etc/swanctl/swanctl.conf
      # EXPONDO O SOCKET PARA O HOST (Para o orquestrador montar)
      - type: bind
        source: ./sockets/alice
        target: /var/run
    command: /usr/lib/ipsec/charon

  # --- VPN BOB ---
  bob:
    build: .
    container_name: bob
    cap_add: [NET_ADMIN, SYS_MODULE]
    networks:
      rede_b:
        ipv4_address: 10.100.2.10
    volumes:
      - ./bob/swanctl.conf:/etc/swanctl/swanctl.conf
      # EXPONDO O SOCKET PARA O HOST
      - type: bind
        source: ./sockets/bob
        target: /var/run
    command: /usr/lib/ipsec/charon

  # --- ORQUESTRADOR (O CÉREBRO) ---
  orchestrator:
    build: .  # Usa a mesma imagem com Python + LibOQS + VICI
    container_name: orchestrator
    networks:
      vpc_qkd:
        ipv4_address: 10.5.0.99
    volumes:
      - ./scripts:/scripts
      # MONTA OS SOCKETS DOS NÓS AQUI DENTRO
      - type: bind
        source: ./sockets/alice
        target: /sockets/alice  # Vai acessar o socket da Alice aqui
      - type: bind
        source: ./sockets/bob
        target: /sockets/bob    # Vai acessar o socket do Bob aqui
    # Mantém rodando para entrarmos depois
    command: tail -f /dev/null

  gateway:
    image: alpine
    container_name: gateway
    cap_add:
      - NET_ADMIN
    sysctls:
      net.ipv4.ip_forward: "1"
    command: sh -c "apk add --no-cache iproute2 iptables && tail -f /dev/null"
    networks:
      rede_a:
        ipv4_address: 10.100.1.254
      rede_b:
        ipv4_address: 10.100.2.254

networks:
  vpc_qkd:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/24
  rede_a:
    external: true
  rede_b:
    external: true
  rede_d:
    external: true