services:
  # --- VPN ALICE ---
  alice:
    build: .
    container_name: alice
    cap_add: [NET_ADMIN, SYS_MODULE]
    networks:
      rede_transporte:
        ipv4_address: 192.168.100.10
    volumes:
      - ./alice/swanctl.conf:/etc/swanctl/swanctl.conf
      - ./scripts:/scripts
    entrypoint: ["/entrypoint.sh"]

  # --- VPN BOB ---
  bob:
    build: .
    container_name: bob
    cap_add: [NET_ADMIN, SYS_MODULE]
    networks:
      rede_transporte:
        ipv4_address: 192.168.100.11
    volumes:
      - ./bob/swanctl.conf:/etc/swanctl/swanctl.conf
      - ./scripts:/scripts
    entrypoint: ["/entrypoint.sh"]

  # --- VPN CAROL ---
  carol:
    build: .
    container_name: carol
    cap_add: [NET_ADMIN, SYS_MODULE]
    networks:
      rede_transporte:
        ipv4_address: 192.168.100.12
    volumes:
      - ./carol/swanctl.conf:/etc/swanctl/swanctl.conf
      - ./scripts:/scripts
    entrypoint: ["/entrypoint.sh"]

  # --- VPN DAVE ---
  dave:
    build: .
    container_name: dave
    cap_add: [NET_ADMIN, SYS_MODULE]
    networks:
      rede_transporte:
        ipv4_address: 192.168.100.13
    volumes:
      - ./dave/swanctl.conf:/etc/swanctl/swanctl.conf
      - ./scripts:/scripts
    entrypoint: ["/entrypoint.sh"]

  # --- ORQUESTRADOR ---
  orchestrator:
    build: .  
    container_name: orchestrator
    networks:
      vpc_qkd:
        ipv4_address: 10.5.0.99
      rede_transporte:
        ipv4_address: 192.168.100.40
    volumes:
      - ./scripts:/scripts
    entrypoint: ["python3", "/scripts/sdn_controller_multi_node.py"]


networks:
  vpc_qkd:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/24
  rede_transporte:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.enable_ip_masquerade: "false"
    ipam:
      config:
        - subnet: 192.168.100.0/24
 